body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 1000;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

section {
    position: relative;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    overflow: auto; /* Add this line */
}

#contact {
    height: 50vh;
    background-color: #333;
    color: #fff;
    overflow: auto;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home.parallax {
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
}

#about.parallax {
    background-image: linear-gradient(to right, #36d1dc, #5b86e5);
}

#projects.parallax {
    background-image: linear-gradient(to right, #c31432, #240b36);
}

#contact.parallax {
    background-image: linear-gradient(to right, #f12711, #f5af19);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.my-name {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #333;
}
